filteredstream/target/classes/filteredstream.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="filteredstreamFlow">
        <twitter:filtered-stream config-ref="TwitterFiltered" doc:name="Twitter (Streaming)">
            <twitter:keywords>
                <twitter:keyword>jitentalele</twitter:keyword>
            </twitter:keywords>
        </twitter:filtered-stream>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <dw:transform-message doc:name="TransformTweets" metadata:id="03154600-fba9-48f4-9bac-46e9b738ce4d">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/csv separator=",", header=false
---
[{
	Retweet: payload.retweet as :string,
	TweetInfo: payload.text,
	Date: payload.createdAt as :string,
	Followers: payload.user.followersCount as :string,
	Timezone: payload.user.timeZone
}]]]></dw:set-payload>
            <dw:set-variable variableName="Date"><![CDATA[%dw 1.0
%output application/java
---
payload.createdAt
]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="src/main/resources/outputDir" outputPattern="Filtered_#[flowVars.Date].csv" connector-ref="FilteredTweetsFile" responseTimeout="10000" doc:name="WriteCSV"/>
    </flow>
</mule>
